[user]
	name = Anton Pomozov
	email = pomozoff@gmail.com
[github]
	user = pomozoff
	token = 
[core]
	excludesfile = /Users/apomozov/.gitignore_global
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[i18n]
	commitencoding = utf8
	logoutputencoding = utf8
[alias]
	st   = status
	ca   = commit -am
	cm   = commit -m
	br   = branch
	co   = checkout
	df   = diff
	lg   = log -p
	pso  = push origin
	plo  = pull origin
	plro = pull --rebase origin
[color]
	ui = true
[commit]
	template = ~/.commit-template
